.title {
  width: 30%;
  margin-bottom: 2%;
}

h1 {
  font-family: "Orbitron";
  font-size: 40px;
  margin-bottom: 0;
}

.title-description {
  font-family: "Orbitron";
  color: #aeb9ba;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0;
}

@media screen and (max-width: 1131px) {
  .title {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: x-large;
  }
}
