<div class="search-container">
  <form [formGroup]="searchForm">
    <p-autoComplete formControlName="search" [suggestions]="filtredPlayers$ | async" size="large"
      placeholder="Rechercher un joueur" [inputStyle]="{width : '100%'}" style="width: 100%" field="name"
      (onSelect)="selectPlayer($event.value)">
      
      <ng-template let-player pTemplate="item">
        <div class="flex align-items-center">
          <img [src]="player.photo" width="40" class="mr-2 border-circle" />
          <div>
            <div class="font-bold">{{ player.name }}</div>
            <small class="text-sm text-color-secondary">{{ player.nationality }}</small>
          </div>
        </div>
      </ng-template>
    </p-autoComplete>
  </form>
</div>