.search-container {
  position: relative;
  max-width: 600px;
}

input {
  width: 100%;
}

.search-results {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  background-color: #222;
  border: 1px solid #00ff00;
  color: white;
  padding: 10px 15px;
  z-index: 10;
}

.result-item {
  padding: 5px 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.result-item:hover {
  background-color: #333;
}

.result-item-picture {
  flex: 1;
  display: flex;
  align-items: center;

  img {
    width: 70px;
    border-radius: 50%;
  }
}

.result-item-detail {
  flex: 4;
}

.result-item-name {
  color: white;
  font-family: "Orbitron";
  font-size: 100%;
  // background-color: aliceblue;
}

.result-item-team {
  color: white;
  font-family: "Orbitron";
  font-size: 90%;
}

// @media screen and (max-width: 1131px) {
//   .search-container {
//     width: 70%;
//     text-align: center;
//     margin: 0 auto;
//   }
// }
