.search-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 1131px) {
  .search-container {
    text-align: center;
    margin: 0 auto;
    font-size: smaller;
  }
}