.title {
    // background-color: grey;
    // background-color: aquamarine;
    width: 30%;

}

h1 {
    color: white;
    font-family: 'Orbitron';
    font-size: 40px;
    margin-bottom: 0;

}

.title-description {
    // background-color: aqua;
    font-family: 'Orbitron';
    color: #AEB9BA;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0;
}

.main {
    margin-left: 2%;
}