h2 {
  color: white;
  font-family: "Orbitron";
  font-size: 27px;
  margin-bottom: 0;
  margin-top: 2%;
}

.compare-stats-container {
  font-family: "Orbitron";
  width: 40%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  padding: 2% 0 2% 0;
}

.compare-stats-card {
  width: 90%;
  margin: auto;
  max-width: 700px;
}

.compare-btn {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

// .search-bar-player {
//   margin: auto;
// }

.divider {
  width: 60%;
  margin: auto;
}

.result-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 10px;
}

.result-item:hover {
  background-color: #333;
}

.result-item-picture {
  flex: 1;
  display: flex;
  align-items: center;

  img {
    width: 80%;
    border-radius: 50%;
  }
}

.result-item-detail {
  flex: 4;
}

.result-item-name {
  color: white;
  font-family: "Orbitron";
  font-size: 80%;
}

.result-item-team {
  color: white;
  font-family: "Orbitron";
  font-size: 65%;
}

.material-icons {
  color: #00ff57;
  font-size: 30px;
  font-weight: bold;
  margin-right: 1%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.material-icons:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

@media screen and (max-width: 1131px) {
  h2 {
    margin-top: 4%;

    text-align: center;
  }
}

// @media screen and (max-width: 1231px) {
//   .compare-stats-container {
//     width: 80%;
//   }

//   .search-bar-player {
//     // width: 95%;
//   }
// }

@media screen and (max-width: 1231px) {
  .compare-stats-container {
    width: 90%;
    font-size: smaller;
  }

  .compare-stats-card {
    width: 100%;
  }

  
}
