<p-card class="player-card card-border">
  <ng-template #header>
    <img alt="Card" class="player-picture" [src]="player.playerData.photo"/>
  </ng-template>
  <ng-template #title> <p class="player-name">{{player.playerData.name}}</p> </ng-template>
  <div class="stats">
    <div class="goals">
      <p class="stats-title">Buts</p>
      <p class="stats-details">{{ player.goals }}</p>
    </div>

    <div class="assists">
      <p class="stats-title">Passes</p>
      <p class="stats-details">{{ player.assists }}</p>
    </div>

    <!-- <div class="mark">
      <p class="stats-title">Note</p>
      <p class="stats-details">{{ player.mark }}</p>
    </div> -->
  </div>
  <ng-template #footer>
    <div class="check-profil">
      <p-button label="Voir le profil" [routerLink]="['player-detail',player.playerData.id]" />
    </div>
  </ng-template>
</p-card>



