.player-card {
  font-family: "Orbitron";
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  transition: transform 0.3s ease, box-shadow 0.1s ease;
}

.player-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 255, 87, 0.3);

}

.player-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  border-radius: 50%;
  width: 92%;
}

.name-and-last-name {
  display: flex;
  justify-content: center;
  font-size: large;
  flex-wrap: wrap;
  font-size: larger;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-profil {
  display: flex;
  justify-content: center;
}

.goals,
.assists,
.mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  font-weight: bold;
  color: #d8d9d9;
}

.stats-title {
  margin: 0;
}

.stats-details {
  color: white;
  font-size: large;
}
