.player-card {
  font-family: "Orbitron";
  width: 250px;
  max-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.1s ease;
}

.player-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 255, 87, 0.3);

}

.player-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 92%;
}
