<p-card class="player-card">
  <ng-template #header>
    <img alt="Card" class="player-picture" [src]="player.pictureUrl"/>
  </ng-template>
  <ng-template #title> {{player.name}} {{player.lastName}} </ng-template>
  <div class="stats">
    <div class="goals">
      <p class="stats-title">Buts</p>
      <p class="stats-details">{{ player.goals }}</p>
    </div>

    <div class="assists">
      <p class="stats-title">Passes</p>
      <p class="stats-details">{{ player.assists }}</p>
    </div>

    <div class="mark">
      <p class="stats-title">Note</p>
      <p class="stats-details">{{ player.mark }}</p>
    </div>
  </div>
  <ng-template #footer>
    <div class="check-profil">
      <p-button label="Voir le profil" [routerLink]="['player-detail',player.id]" />
    </div>
  </ng-template>
</p-card>



