<p-menubar [model]="items" class="flex">

    <ng-template pTemplate="start">
        <div class="logo flex items-center">
            <img src="assets/logoSZ.png" class="h-10">
        </div>
    </ng-template>

    <ng-template pTemplate="item" let-item let-root="root">
        <a>
            @if(item.icon) {
            <i [class]="item.icon"></i>
            }
            <span class="">{{ item.label }}</span>
        </a>

    </ng-template>

    <ng-template pTemplate="end">
        <p-toggleswitch [(ngModel)]="checked" onLabel="Dark" ariaLabel="Light" (ngModelChange)="toggleDarkMode()" />
    </ng-template>

</p-menubar>