@import "primeicons/primeicons.css";

.text {
  font-family: "Orbitron";
  color: white;
}


.text-xl {
  font-size: 24px;
}

.text-lg {
  font-size: 18px;
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: rgb(213, 190, 190);
}

.text-accent {
  color: #00ff57;
}

.text-value {
  color: green;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 751px) {
  .text-xl {
    font-size: 16px;
  }

  .text-lg {
    font-size: 12px;
  }
}


// TODO: Use theming
.card-border {
    border: 1px solid var(--p-primary-500);
    border-radius: 10px;
}


.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
