/* You can add global styles to this file, and also import other style files */
html {
    background-color: black;
}

.border-green-rounded {
    border: 1px solid #00FF57;
    border-radius: 10px;
}

.text {
    font-family: 'Orbitron';
    color: white;
}

.text-xl {
    font-size: 24px;
}

.text-lg {
    font-size: 18px;
}

.text-bold {
    font-weight: bold;
}

.text-muted {
    color: rgb(213, 190, 190);
}

.text-accent {
    color: #00FF57;
}

.text-value {
    color: green;
    font-size: 30px;
    font-weight: bold;
}
