@import "primeicons/primeicons.css";

.p-menubar-root-list {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
}

// TODO: Use theming
.card-border {
    border: 1px solid var(--p-primary-500);
    border-radius: 10px;
}


.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
