h2 {
  color: white;
  font-family: "Orbitron";
  font-size: 27px;
  margin-bottom: 0;
}

p {
  color: aliceblue;
}

.list-top-players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 1131px) {
  h2 {
    text-align: center;
  }
}
