h2 {
  font-size: 27px;
  margin-bottom: 1%;
}

p {
  color: aliceblue;
}

.list-top-players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1131px) {
  h2 {
    text-align: center;
  }
}
