.search-bar {
  width: 40%;
  margin: 0 auto;
}

.main-detailed-page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.player-detail-container {
  display: flex;
  justify-content: space-around;
}

.player-essential-informations {
  width: 40%;

  .player-picture {

    img {
      border-radius: 50%;
      width: 130px;
    }
  }
}

.player-essential-informations-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.player-name-team-contrat {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.player-market-value {
  width: 30%;
}

.market-value-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  span {
    margin: 1% 0 1% 0;
  }
}

.player-more-details {
  width: 85%;
  margin: auto;
}

.player-more-details-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 1% 1% 1%;
}

.attributs-and-national-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  //width: 87%;
  gap: 1rem;
}

.attibuts,
.national-team-stats {
  flex: 1 1 350px;
  max-width: 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host ::ng-deep .attibuts-card-content .p-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.attibuts img,
.national-team-stats img {
  margin: 2% 0;
  width: 65%;
  height: auto;
}

.attibuts span,
.national-team-stats span {
  margin: 2% 0 1% 0;
}

#seaonTitle {
  text-align: center;
  margin: 2% 0 1% 0;
}

.national-team {
  display: flex;
  gap: 30px;
  padding-top: 4%;


  img {
    width: 30%;
  }
}

.accordion-data {
  width: 70%;
  font-family: 'Orbitron';
  margin-bottom: 2%;
}

.heat-map {
  display: flex;
  justify-content: center;
}

.detailed-stats {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.national-team-apperances-and-goals {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.national-team-appearances,
.national-team-goals {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.accordion-content {
  p {
    display: flex;
    justify-content: space-between;
  }
}

p-accordion {
  margin-bottom: 22%;
  p {
    margin: 0;
  }
}

@media screen and (max-width: 912px) {
  .national-team {
    img {
      width: 70px;
    }
  }
}

@media screen and (max-width: 751px) {
  .player-detail-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .player-more-details {
    flex-direction: column;
  }

  .detail {
    margin: 2% 0 4% 0;
  }

  .player-essential-informations,
  .player-market-value {
    margin-bottom: 2%;

    padding: 0;
    width: 85%;
  }

  .player-essential-informations {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .player-picture img {
      width: 100px;
    }
  }

  .search-bar {
    width: 80%;
  }
}

@media screen and (max-width: 571px) {
  .attributs-and-national-stats {
    //width: 90%;
  }

  .attibuts,
  .national-team-stats {
    max-width: 95%;
    padding: 2%;
  }
}
