.search-bar {
  width: 40%;
  margin: 0 auto;
}


.player-picture {
  img {
    border-radius: 50%;
    width: 100%;
  }
}


#league-logo {
  width: 100%;
}

#nationalTeamImage {
  max-width: 180px;
}